.hero-contents{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Website Banner Style */
.banner-container {
    position: relative;
    display: block; 
}

.banner-image {
    width: 100%;
    height: auto;
}

.banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
}

.banner-text {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: calc(12vw / 2);  
    font-family: "Figtree";  
    text-shadow: 2px 2px 4px rgba(0,0,0,0.75);
    margin: 0;
    padding: 0;
    text-align: center;
    width: 85%;
}

/* Homepage Container Styles */
.homepage-content-container {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(17, 103, 178, 0.56)); 
    width: 100%;
}

.homepage-text-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%; 
}


/* Join Us Section Styles */
.joinus-home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    text-align: left;
    margin-top: 10px;
}

@media (max-width: 600px) {
    .joinus-home {
        grid-template-columns: 1fr; 
    }

    .joinus-home h3 {
        font-size: 0.8rem;  /* smaller heading */
    }
    
    .joinus-home ul li {
        font-size: 0.6rem; /* smaller list items */
    }
    #joinus-strong {
        font-size: 0.6rem; /* smaller list items */
    }
}

/* Partnerships Styles */
.our-partnerships-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 1.0rem;
    /* align-items: start;  */
}

/* Tablet size-ish */
@media (max-width: 1024px) {
    .our-partnerships-grid {
      grid-template-columns: repeat(3, 1fr);
    }
}
  
/* Large phones size-ish */
@media (max-width: 768px) {
    .our-partnerships-grid {
      grid-template-columns: repeat(2, 1fr);
    }
}
  
/* Phones size-ish */
  @media (max-width: 480px) {
    .our-partnerships-grid {
      grid-template-columns: repeat(1, 1fr);
    }
}
  
.our-partnerships-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 150px;
    height: 200px; 
    /* justify-content: space-between;  */
}
  
.our-partnerships-logo {
    width: 130px;
    height: 130px;
    display: flex;
    align-items: start;
    justify-content: center;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
}
  
.our-partnerships-logo img {
    width: 90%;
    height: 90%;
    object-fit: contain; 
}
  
.our-partnerships-item p {
    font-size: 14px;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    padding-bottom: 10px;
    align-self: center;
    text-align: center;
}
  
.our-partnerships-name {
    font-size: 14px;
    align-self: center;
    text-align: center;
}
  
.our-partnerships-wrapper{
    padding: 20px;
}
  
.our-partnerships-grid:has(:last-child:nth-child(5n + 1)) {
    justify-content: center;
}