
/*hero section*/
.background{
    background-image:linear-gradient(rgba(113, 155, 179, 1),rgba(135, 138, 222, 1));
    min-height: 60vw;
}

.hero-contents{
    display: flex;
    flex-direction: column;
    align-items: flex-start ;
    min-height:38vh ;
    margin-left: 1em;
    margin-right: 1em;
    color: whitesmoke;

}
/* title is j the USMO text*/
.title{
    margin-top: 15vh;
    padding-bottom: 0em;
    margin-bottom: 0em;
    font-size: 5vw;
}


.sub1{
    font-size: 2vw;
    text-align: left;
    margin-top: 2em;
    padding: 0em;
    max-width: 40vw;
}




/*mission is the entire mission section wrapper*/
.mission{
    display: flex;
    flex-direction: row;
    min-height: 40vw;
    background-color: aliceblue;
    align-items: center;

    box-sizing: border-box;
    padding:0;

}

.missiontxt{
    color:rgba(8, 44, 92, 1);
    max-width: 40vw;

    margin-left: 5vw;
}

.img1{
    display:flex;
    justify-content: center;



}
.img1 img {
    width:50%;
    display:block;
}

h2{

    box-sizing: border-box;
    font-size: 3.5vw;
    align-self: flex-start;

}

.missionp{
/* change index.css to remove over riding stylign on mission.css spceifically the 1em padding*/
    padding:0;
    padding-top: 3vw;
    align-self: flex-start;
    font-size:1.5em;
}

.decal{
    display:flex;
    flex-direction: row;
    min-height: 40vw;
    background-color: aliceblue;
    align-items: center;
    box-sizing: border-box;
    color:rgba(8, 44, 92, 1);
}

.eduh2{
    margin-left: 5vw;
    max-width: 50vw;
}
.eduh2 h2{
    max-width:30vw;
}
.txt-and-button{
    display: flex;
    flex-direction: column;
    justify-content: center;


}
.txt-and-button p{
    max-width: 45vw;
    font-size: 1.5em;

}


/*@media screen and (max-width :600px) {
    .title{
        font-size: 100px;

    }

}
*/
@media screen and (max-width :600px) {
    .title{
        margin-top: 2em;
        font-size: 24px;
    }
    h2{
        font-size: 30px;
    }
    .sub1{
        font-size:16px;
        max-width: max-content;
    }

    .sub2{
        font-size:20px;
        min-width: 80vw;
    }
}

