.background{
    background-image:linear-gradient(rgb(176, 176, 176),white);
 
}


.hero-contents{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height:50vh ;

    font-size: 10vw;
    margin-left: 1em;
    margin-right: 1em;

}

.title{
    padding-bottom: 0em;
    margin-bottom: 0em;
}

.sub1{
    font-size: .5em;
    text-align: center;
    margin-top: 0em;
    padding: 0em;
}

.mission{
    display: flex;
    min-height:20vh;
    margin:1em;
}

p{
    padding:.9em;
    margin:0em;
}

.services{
    background-color: grey;
    min-height: 30vh;
}