
/*hero section*/
.background{
 
    background-image: url('/public/grouppic.jpeg');
    min-height: 60vw;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.home-wrapper{
    background-image:linear-gradient(rgba(113, 155, 179, 1),white); 
}

.background::after{
    content: ''; /* Necessary for the pseudo-element to display */
    position: absolute; /* Position relative to the parent .background */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4); 
    z-index: 1;
}


.hero-contents{
    display: flex;
    flex-direction: column;
    align-items: flex-start ;
    min-height:38vh ;
    margin-left: 1em;
    margin-right: 1em;
    color: whitesmoke;
    position:relative;
    z-index: 3;

}
/* title is j the USMO text*/
.title{
    margin-top: 15vh;
    padding-bottom: 0em;
    margin-bottom: 0em;
    font-size: 5vw;

}


.sub1{
    font-size: 2vw;
    text-align: left;
    margin-top: 2em;
    padding: 0em;
    max-width: 40vw;

}




/*mission is the entire mission section wrapper*/
.mission{
    display: flex;
    flex-direction: row;
    min-height: 30vw;
    /*background-color: white;*/
    align-items: center;

    box-sizing: border-box;
    padding:0;

}

.missiontxt{
    color:rgba(8, 44, 92, 1);
    max-width: 40vw;

    margin-left: 5vw;
}

.img1{
    display:flex;
    justify-content: center;
    padding: 1em;



}
.img1 img {
    width:50%;
    display:block;
}

h2{

    box-sizing: border-box;
    font-size: 3vw;
    align-self: flex-start;

}

.missionp{

    padding:0;
    padding-top: 1em;
    align-self: flex-start;
    font-size:1.5vw;
}

.decal{
    display:flex;
    flex-direction: row;
    min-height: 30vw;
   /* background-color: white;*/
    align-items: center;
    box-sizing: border-box;
    color:rgba(8, 44, 92, 1);
}

.eduh2{
    margin-left: 5vw;
    max-width: 50vw;
}
.eduh2 h2{
    max-width:30vw;
}
.txt-and-button{
    display: flex;
    flex-direction: column;
    justify-content: center;


}
.txt-and-button p{
    max-width: 45vw;
    font-size: 1.5vw;

}
.donation-map{
    display: flex;
    margin-left:5vw;
    max-width: 40VW;
    min-height: 10vw;
    align-items: center;
    color:rgba(8, 44, 92, 1);
}


/*@media screen and (max-width :600px) {
    .title{
        font-size: 100px;

    }

}
*/
@media screen and (max-width :600px) {
    .title{
        margin-top: 2em;
        font-size: 24px;
    }
    h2{
        font-size: 30px;
    }
    .sub1{
        font-size:16px;
        max-width: max-content;
    }

    .sub2{
        font-size:20px;
        min-width: 80vw;
    }
}

